/bin/
/.metadata/
PacMan/src/src/Pacman.java
PacMan/src/src/Pacman.java
PacMan/src/src/Pacman.java
prueba/prueba/.classpath
*.java
/idstv2025-P3-main (1).zip_expanded
/idstv2025-P3-main (2).zip_expanded
